<!DOCTYPE html>
<html>

  <!-- HEAD element: load the stylesheet and the chart.js library -->
  <head>
    <title>GGR KMP Editor 8 servos</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/smooth.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">
  </head>


   
   <script type="text/javascript">
            var front_right_preview;
             var front_left_preview;
             var back_right_preview;
             var back_left_preview;
        var mouse_x = 0;
        var mouse_y = 0;
        
	$(document).ready(function() {

           //for tracking mouse position
           $(document).mousemove(function(event) {
             mouse_x = event.pageX;
             mouse_y = event.pageY;
           });

          });



   </script>
   
  <!-- BODY element: create a canvas and render a chart on it -->
  <body>

	  <div id="div_preview" name="div_preview" style="max-width: 800px; display:none">
             <canvas id="canvas_preview" width="780" height="430"></canvas>
        </div>


	  <!--3 cols-->
<table>
<tr>
<td>
    <div class="wrapper2" id="MOTION"/>
</td>
<td>
    <form name="MODE_FORM" id="MODE_FORM" method="post" action="/toggleMode"> 
     <input type="radio" id="Four" name="mode" value="Four" onclick="handleClick(this);"> <label for="Four">Four</label>
     <input type="radio" id="Eight" name="mode" value="Eight" onclick="handleClick(this);"> <label for="Eight">Eight</label>
    </form>

</td>
<td/>
</tr>
<tr>
<td>
    <!-- canvas element in a container -->
    <div class="wrapper">
      <canvas id="canvas" width="1600" height="900"></canvas>
    </div>
</td>
<td>

<p>
Smoothing width
<input type="range" class="slider" value="15" min="0" max="50" id="points" onchange="changeRange()">
<div class="wrapper2" id="WIDTH">
</div>
</p>

<p>
Times to repeat
<input type="range" class="slider" value="5" min="1" max="50" id="repeatSlider" onchange="changeRepeat()">
<div class="wrapper2" id="TIMES">
</div>
</p>

<p>
Delay
<input type="range" class="slider" step="0.001" value="0.005" min="0" max="0.25" id="delaySlider" onchange="changeDelay()">
<div class="wrapper2" id="DELAY">
</div>
</p>

<p>
SHIFT UP OR DOWN
<input type="range" class="slider" step="1" value="0" min="-50" max="50" id="shiftSlider" onchange="changeShift()">
<div class="wrapper2" id="SHIFT">
</div>
</p>



</td>
<td>		<table>
			<tr  style="vertical-align : middle; text-align:center;" >
                               <td>
                               </td>
                               <td>
				    <img src="static/up.png"/>
                                
                               </td>
                               <td>
				      = <div id="FORWARD8" />
                               </td>
                               <td>
                               </td>

			</tr>

			<tr  style="vertical-align : middle; text-align:center;" >
                               <td>
				    <img src="static/left.png"/>
                               </td>
                               <td>
				      = <div id="LEFT8" />
                                
                               </td>
                               <td>
				    <img src="static/right.png"/>
                               </td>
                               <td>
				      = <div id="RIGHT8" />
                               </td>
			</tr>

			<tr  style="vertical-align : middle; text-align:center;" >
                               <td>
                               </td>
                               <td>
				    <img src="static/down.png"/>
                               </td>
                               <td>
				      = <div id="BACKWARDS8" />
                               </td>
                               <td>
                               </td>
			</tr>
			</table>


</td>

</tr>

<tr>
<td>
	<img src="static/1234.png"/>
  <div id="container">
  </div>

</td>
<td>

	<img src="static/5678.png"/>
  <div id="jstree2" />

</td>
<td/>
</tr>
<tr>

<td>
	<img width=50 src="static/updown.png"/>
<form name="SAVE" id="SAVE" method="post" action="/save">

<input type="text" id="saveName"/>  <input type="button" name="saveSubmit" id="saveButton" value="SAVE" onclick="save()" />
</form>

<form name="LOAD" id="LOAD" method="post" action="/load">

<input type="text" id="loadName"/>  <input type="button" name="loadSubmit" id="loadButton" value="LOAD" onclick="load()" />
</form>
<br>

<button onclick="run()">RUN</button>
<button onclick="stop()">SET ANGLES to 90</button>
<br/>
<button onclick="stop()">KILL SWITCH</button>
<button onclick="runBrain()">TURN ON BRAIN</button>
<button onclick="fidget()">FIDGET</button>

<br/>
</td>
<td>

   <form name="SELECT_GRIPPER" id="SELECT_GRIPPER" method="post" action="/selectGripper">
     <input type="text" id="selectGripper"/> 
     <input type="button" name="SelectGripperSubmit" id="selectGripperButton" value="SELECT GRIPPER" onclick="gripper()" />
   </form>

    <div class="wrapper">
      <canvas id="gCanvas" width="640" height="360"></canvas>
    </div>


	<img width=50 src="static/updown.png"/>

    
     <form name="SAVE8" id="SAVE8" method="post" action="/save8">
         <input type="text" id="comboName"/>  <input type="button" name="comboSaveSubmit" id="comboSaveButton" value="SAVE 8 SERVO COMBO" onclick="save8()" />
     </form>

     <form name="LOAD_COMBO" id="LOAD_COMBO" method="post" action="/combo">
         <input type="text" id="loadComboName"/> <input type="button" name="comboLoadSubmit" id="comboLoadButton" value="LOAD 8 SERVO COMBO" onclick="combo()" />
     </form>
</td>
<td>
  8 SERVO COMBOS:
  <div id="combotree" />


</td>
</tr>

</table>



<script type="text/javascript">

// some data to be plotted
var x_data = {{leg_data.x}};
var y_data_1 = {{leg_data.front_right}};
var y_data_2 = {{leg_data.front_left}};
var y_data_3 = {{leg_data.back_right}};
var y_data_4 = {{leg_data.back_left}};

var y_data_5 = {{leg_data.gripper_1}};
var y_data_6 = {{leg_data.gripper_2}};
var y_data_7 = {{leg_data.gripper_3}};
var y_data_8 = {{leg_data.gripper_4}};
var MOTION = '{{leg_data.MOTION}}';
var MOTION2 = '{{leg_data.MOTION2}}';
var COMBONAME = '{{leg_data.COMBONAME}}';

$("#saveName").val(MOTION);
$("#loadName").val(MOTION);

$("#selectGripper").val(MOTION2);

$("#comboName").val(COMBONAME);
$("#loadComboName").val(COMBONAME);



var FORWARD_VAL = "{{leg_data.FORWARD8}}";
var BACKWARDS_VAL = "{{leg_data.BACKWARDS8}}";
var LEFT_VAL = "{{leg_data.LEFT8}}";
var RIGHT_VAL = "{{leg_data.RIGHT8}}";


document.getElementById("FORWARD8").innerHTML=String(FORWARD_VAL); 
document.getElementById("BACKWARDS8").innerHTML=String(BACKWARDS_VAL); 
document.getElementById("LEFT8").innerHTML=String(LEFT_VAL); 
document.getElementById("RIGHT8").innerHTML=String(RIGHT_VAL); 


var currentMode = '{{leg_data.MODE}}';
console.log( currentMode );

if (currentMode === 'None') { currentMode = "Eight"; }

console.log( currentMode );

$('#Four').prop('checked', currentMode === "Four");
$('#Eight').prop('checked', currentMode === "Eight");


function handleClick(myRadio) {
     currentMode = myRadio.value;
     console.log( currentMode );
 
     $('#MODE_FORM').append('<input type="hidden" name="servo_mode" value="' + currentMode + '" />') // $("input[name=mode]").val() + '" />');
     $("#MODE_FORM").submit();
     //TELL BACKEND
 
 };


var RANGE = {{leg_data.RANGE}};
var TIMES_VAL = {{leg_data.TIMES_VAL}};
var DELAY_VAL = {{leg_data.DELAY_VAL}};
var SHIFT_VAL = {{leg_data.SHIFT_VAL}};

document.getElementById("MOTION").innerHTML=String(MOTION); 

document.getElementById("WIDTH").innerHTML=String(RANGE); 
document.getElementById("TIMES").innerHTML=String(TIMES_VAL); 
document.getElementById("DELAY").innerHTML=String(DELAY_VAL); 
document.getElementById("SHIFT").innerHTML=String(SHIFT_VAL); 




// UI only
function changeRange(event) {
   RANGE = document.getElementById("points").value;
   document.getElementById("WIDTH").innerHTML=String(RANGE); 

};


// UI only
function changeShift(event) {
   SHIFT_VAL = document.getElementById("shiftSlider").value;
   document.getElementById("SHIFT").innerHTML=String(SHIFT_VAL); 

   for(var i=0; i<myChart.data.datasets.length; i++) {
     ARRLEN = myChart.data.datasets[i].data.length;
    if (myChart.isDatasetVisible(i)) {
        for (var j=0; j<ARRLEN; j++) {
            console.log( myChart.data.datasets[i].data[j]);
            myChart.data.datasets[i].data[j] = myChart.data.datasets[i].data[j] + parseFloat(SHIFT_VAL);
        }
    }
   }
   // See console.
   window.myChart.update();
};





//TELL BACKEND
function changeRepeat(event) {
   TIMES_VAL = document.getElementById("repeatSlider").value;
   document.getElementById("TIMES").innerHTML=String(TIMES_VAL); 

 var saveData = [{"times":TIMES_VAL}];

 $.ajax({
   type: "POST",
   url: "/setrepeat",
   data: JSON.stringify(saveData),
   contentType: "application/json",
   dataType: 'json',
   success: function(result) {
     console.log(result);
   }
 });
};


//TELL BACKEND
function changeDelay(event) {
   DELAY_VAL = document.getElementById("delaySlider").value;
   document.getElementById("DELAY").innerHTML=String(DELAY_VAL); 

 var saveData = [{"delay":DELAY_VAL}];

 $.ajax({
   type: "POST",
   url: "/setdelay",
   data: JSON.stringify(saveData),
   contentType: "application/json",
   dataType: 'json',
   success: function(result) {
     console.log(result);
   }
 });
};

// globals
var activePoint = null;
var canvas = null;


var gActivePoint = null;
var gCanvas = null;


var datasetValues =  {
        data: {
            labels: x_data,
            datasets: [
                {
                    data: y_data_1,
                    label: "Front Right",
                    borderColor: "#3e95cd",
                    fill: false
                },
                {
                    data: y_data_2,
                    label: "Front Left",
                    borderColor: "#cd953e",
                    fill: false
                },
                {
                    data: y_data_3,
                    label: "Back Right",
                    borderColor: "#ffff00",
                    fill: false
                },
                {
                    data: y_data_4,
                    label: "Back Left",
                    borderColor: "#0000ff",
                    fill: false
                }
            ]
        }};


var gDatasetValues =  {
        data: {
            labels: x_data,
            datasets: [
                {
                    data: y_data_5,
                    label: "Gripper 1",
                    borderColor: "#3e95cd",
                    fill: false
                },
                {
                    data: y_data_6,
                    label: "Gripper 2",
                    borderColor: "#cd953e",
                    fill: false
                },
                {
                    data: y_data_7,
                    label: "Gripper 3",
                    borderColor: "#ffff00",
                    fill: false
                },
                {
                    data: y_data_8,
                    label: "Gripper 4",
                    borderColor: "#0000ff",
                    fill: false
                }
            ]
        }};

// draw a line chart on the canvas context
window.onload = function () {


    // Draw a line chart with two data sets
    var ctx = document.getElementById("canvas").getContext("2d");
    canvas = document.getElementById("canvas");
    window.myChart = Chart.Line(ctx, {
        data: datasetValues.data,
        options: {
            animation: {
                duration: 0
            },
            tooltips: {
                mode: 'nearest'
            },
      scales: {
         xAxes: [{
            ticks: {
               userCallback: function(item, index) {
                  if (!(index % 5)) return item;
               },
               autoSkip: false
            }
         }],
         yAxes: [{
            ticks: {
               beginAtZero: true
            }
         }]
      } 
       }
    });

    // set pointer event handlers for canvas element
    canvas.onpointerdown = down_handler;
    canvas.onpointerup = up_handler;
    canvas.onpointermove = null;


    //Second chart for gripper
    // Draw a line chart with two data sets
    var gCtx = document.getElementById("gCanvas").getContext("2d");
    gCanvas = document.getElementById("gCanvas");
    window.gChart = Chart.Line(gCtx, {
        data: gDatasetValues.data,
        options: {
            animation: {
                duration: 0
            },
            tooltips: {
                mode: 'nearest'
            },
      scales: {
         xAxes: [{
            ticks: {
               userCallback: function(item, index) {
                  if (!(index % 5)) return item;
               },
               autoSkip: false
            }
         }],
         yAxes: [{
            ticks: {
               beginAtZero: true
            }
         }]
      } 
       }
    });

    // set pointer event handlers for canvas element
    gCanvas.onpointerdown = down_handler;
    gCanvas.onpointerup = up_handler;
    gCanvas.onpointermove = null;



};

function down_handler(event) {
    // check for data point near event location
    const points = window.myChart.getElementAtEvent(event, {intersect: false});
    if (points.length > 0) {
        // grab nearest point, start dragging
        activePoint = points[0];
        canvas.onpointermove = move_handler;
    };
};

function up_handler(event) {
    // release grabbed point, stop dragging
    activePoint = null;
    canvas.onpointermove = null;
};


//gripper 
function g_down_handler(event) {
    // check for data point near event location
    const points = window.gChart.getElementAtEvent(event, {intersect: false});
    if (points.length > 0) {
        // grab nearest point, start dragging
        gActivePoint = points[0];
        gCanvas.onpointermove = g_move_handler;
    };
};

function g_up_handler(event) {
    // release grabbed point, stop dragging
    gActivePoint = null;
    gCanvas.onpointermove = null;
};





function divideIfNotZero(numerator, denominator) {
  if (denominator === 0 || isNaN(denominator)) {
        return 0;
  }
  else {
        return numerator / denominator;
  }
}



function move_handler(event)
{
    // locate grabbed point in chart data
    if (activePoint != null) {
        var data = activePoint._chart.data;
        var datasetIndex = activePoint._datasetIndex;

        // read mouse position
        const helpers = Chart.helpers;
        var position = helpers.getRelativePosition(event, myChart);

        // convert mouse position to chart y axis value 
        var chartArea = window.myChart.chartArea;
        var yAxis = window.myChart.scales["y-axis-0"];
        var yValue = map(position.y, chartArea.bottom, chartArea.top, yAxis.min, yAxis.max);

        // update y value of active data point
        data.datasets[datasetIndex].data[activePoint._index] = yValue;


        RANGE = parseInt(RANGE);
        ARRLEN = data.datasets[datasetIndex].data.length;
        
        if (activePoint._index <= RANGE)
        {
           var s = Smooth(
		[
		data.datasets[datasetIndex].data[0],
		data.datasets[datasetIndex].data[activePoint._index],
		data.datasets[datasetIndex].data[activePoint._index*2 ]
                ]);
           
           for (var n = 0; n < activePoint._index*2; n++)
           {
	       data.datasets[datasetIndex].data[n] = s(parseFloat(n * divideIfNotZero(1,activePoint._index)));
               console.log(parseFloat(n* divideIfNotZero(1, activePoint._index)));
           }

        }
        else if (activePoint._index >= ARRLEN - RANGE)
        {

           console.log(ARRLEN - RANGE);
           console.log(activePoint._index);
           console.log(ARRLEN - 1);
           var s = Smooth(
                [
                data.datasets[datasetIndex].data[ARRLEN - RANGE],
                data.datasets[datasetIndex].data[activePoint._index],
                data.datasets[datasetIndex].data[ARRLEN - 1]
                ]);

           for (var n = 0; n < ARRLEN - activePoint._index; n++)
           {
               data.datasets[datasetIndex].data[ARRLEN - n] = s(parseFloat(n * divideIfNotZero(1, ARRLEN - activePoint._index)));
               console.log(parseFloat(n* divideIfNotZero(1, ARRLEN - activePoint._index)));
           }


        }
        else {

           console.log(activePoint._index - RANGE);
           console.log(activePoint._index);
           console.log(activePoint._index + RANGE);
           var s = Smooth(
		[
		data.datasets[datasetIndex].data[activePoint._index - RANGE],
		data.datasets[datasetIndex].data[activePoint._index],
		data.datasets[datasetIndex].data[activePoint._index + RANGE]
		]);          

           for (var ndx = 0; ndx < 2*RANGE; ndx++)
           {
              data.datasets[datasetIndex].data[activePoint._index - RANGE + ndx] = s(parseFloat(ndx*divideIfNotZero(1,RANGE)));
              console.log(parseFloat(ndx*divideIfNotZero(1,RANGE)));
           }
        }
        window.myChart.update();
    };
};


//copy for gripper

function g_move_handler(event)
{
    // locate grabbed point in chart data
    if (gActivePoint != null) {
        var data = gActivePoint._chart.data;
        var datasetIndex = gActivePoint._datasetIndex;

        // read mouse position
        const helpers = Chart.helpers;
        var position = helpers.getRelativePosition(event, gChart);

        // convert mouse position to chart y axis value 
        var chartArea = window.gChart.chartArea;
        var yAxis = window.gChart.scales["y-axis-0"];
        var yValue = map(position.y, chartArea.bottom, chartArea.top, yAxis.min, yAxis.max);

        // update y value of active data point
        data.datasets[datasetIndex].data[gActivePoint._index] = yValue;


        RANGE = parseInt(RANGE);
        ARRLEN = data.datasets[datasetIndex].data.length;
        
        if (gActivePoint._index <= RANGE)
        {
           var s = Smooth(
		[
		data.datasets[datasetIndex].data[0],
		data.datasets[datasetIndex].data[gActivePoint._index],
		data.datasets[datasetIndex].data[gActivePoint._index*2 ]
                ]);
           
           for (var n = 0; n < gActivePoint._index*2; n++)
           {
	       data.datasets[datasetIndex].data[n] = s(parseFloat(n * divideIfNotZero(1, gActivePoint._index)));
               console.log(parseFloat(n* divideIfNotZero(1, gActivePoint._index)));
           }

        }
        else if (gActivePoint._index >= ARRLEN - RANGE)
        {

           console.log(ARRLEN - RANGE);
           console.log(gActivePoint._index);
           console.log(ARRLEN - 1);
           var s = Smooth(
                [
                data.datasets[datasetIndex].data[ARRLEN - RANGE],
                data.datasets[datasetIndex].data[gActivePoint._index],
                data.datasets[datasetIndex].data[ARRLEN - 1]
                ]);

           for (var n = 0; n < ARRLEN - gActivePoint._index; n++)
           {
               data.datasets[datasetIndex].data[ARRLEN - n] = s(parseFloat(n * divideIfNotZero(1, ARRLEN - gActivePoint._index)));
               console.log(parseFloat(n* divideIfNotZero(1, ARRLEN - gActivePoint._index)));
           }


        }
        else {

           console.log(gActivePoint._index - RANGE);
           console.log(gActivePoint._index);
           console.log(gActivePoint._index + RANGE);
           var s = Smooth(
		[
		data.datasets[datasetIndex].data[gActivePoint._index - RANGE],
		data.datasets[datasetIndex].data[gActivePoint._index],
		data.datasets[datasetIndex].data[gActivePoint._index + RANGE]
		]);          

           for (var ndx = 0; ndx < 2*RANGE; ndx++)
           {
              data.datasets[datasetIndex].data[gActivePoint._index - RANGE + ndx] = s(parseFloat(ndx*divideIfNotZero(1,RANGE)));
              console.log(parseFloat(ndx*divideIfNotZero(1,RANGE)));
           }
        }
        window.gChart.update();
    };
};



// map value to other coordinate system
function map(value, start1, stop1, start2, stop2) {
    return start2 + (stop2 - start2) * ((value - start1) / (stop1 - start1))
};

function save() {

 $('#SAVE').append('<input type="hidden" name="front_right" value="' + datasetValues.data.datasets[0].data.slice(0,131) + '" />');
 $('#SAVE').append('<input type="hidden" name="front_left" value="' + datasetValues.data.datasets[1].data.slice(0,131) + '" />');
 $('#SAVE').append('<input type="hidden" name="back_right" value="' + datasetValues.data.datasets[2].data.slice(0,131) + '" />');
 $('#SAVE').append('<input type="hidden" name="back_left" value="' + datasetValues.data.datasets[3].data.slice(0,131) + '" />');
 
 $('#SAVE').append('<input type="hidden" name="gripper_1" value="' + gDatasetValues.data.datasets[0].data.slice(0,131) + '" />');
 $('#SAVE').append('<input type="hidden" name="gripper_2" value="' + gDatasetValues.data.datasets[1].data.slice(0,131) + '" />');
 $('#SAVE').append('<input type="hidden" name="gripper_3" value="' + gDatasetValues.data.datasets[2].data.slice(0,131) + '" />');
 $('#SAVE').append('<input type="hidden" name="gripper_4" value="' + gDatasetValues.data.datasets[3].data.slice(0,131) + '" />');


 $('#SAVE').append('<input type="hidden" name="id" value="' +  $("#saveName").val() + '" />');

 $("#SAVE").submit();
};

function save8() {

 $('#SAVE8').append('<input type="hidden" name="MOTION1" value="' + $('#saveName').val() + '" />');
 $('#SAVE8').append('<input type="hidden" name="MOTION2" value="' + $('#selectGripper').val() + '" />');
 $('#SAVE8').append('<input type="hidden" name="COMBONAME" value="' + $('#comboName').val() + '" />');


 $("#SAVE8").submit();
};


$("#container").on(
        "select_node.jstree", function(evt, data){
            $("#saveName").val(data.node.id);
            $("#loadName").val(data.node.id);
        }
);
$("#jstree2").on(
        "select_node.jstree", function(evt, data){
            $("#selectGripper").val(data.node.id);
        }
);
$("#combotree").on(
        "select_node.jstree", function(evt, data){
            $("#comboName").val(data.node.id);
            $("#loadComboName").val(data.node.id);
        }
);




function load() {

 var selected = $('#container').jstree('get_selected');
  if (!selected || selected.length == null || selected.length == 0) { selected = $("#loadName").val(); }
	
 console.log(selected)
 $('#LOAD').append('<input type="hidden" name="id" value="' + selected + '"/>');
 $("#LOAD").submit();
};


function gripper() {
 var selected = $('#jstree2').jstree('get_selected');
  if (!selected || selected.length == null || selected.length == 0) { selected = $("#selectGripper").val(); }

 console.log(selected)
 $('#SELECT_GRIPPER').append('<input type="hidden" name="gripperId" value="' +  selected  + '" />');
 $("#SELECT_GRIPPER").submit();
};
   
function combo() {
 var selected = $('#combotree').jstree('get_selected');

  if (!selected || selected.length == null || selected.length == 0) { selected = $("#comboName").val(); }
 console.log(selected)

 $('#LOAD_COMBO').append('<input type="hidden" name="comboId" value="' +  selected  + '" />');
 $("#LOAD_COMBO").submit();
};

function run() {
 var saveData = [{"front_right":datasetValues.data.datasets[0].data},
                 {"front_left":datasetValues.data.datasets[1].data},
                 {"back_right":datasetValues.data.datasets[2].data},
                 {"back_left":datasetValues.data.datasets[3].data},
		 {"gripper_1":gDatasetValues.data.datasets[0].data},
                 {"gripper_2":gDatasetValues.data.datasets[1].data},
                 {"gripper_3":gDatasetValues.data.datasets[2].data},
                 {"gripper_4":gDatasetValues.data.datasets[3].data}];


 $.ajax({
   type: "POST",
   url: "/runadjustedmotion",
   data: JSON.stringify(saveData),
   contentType: "application/json",
   dataType: 'json',
   success: function(result) {
     console.log(result);
   }
 });
};


function stop() {

 var saveData = [{}];

 $.ajax({
   type: "POST",
   url: "/stop",
   data: JSON.stringify(saveData),
   contentType: "application/json",
   dataType: 'json',
   success: function(result) {
     console.log(result);
   }
 });
};





function fidget() {
    console.log("FIDGETING...");

 $.ajax({
   type: "POST",
   url: "/fidget",
   data: JSON.stringify([]),
   contentType: "application/json",
   dataType: 'json',
   success: function(result) {
     console.log(result);
   }
 });
}


function runBrain() {
    console.log("TURNING ON 8-SERVO BRAIN...");
    
 $.ajax({
   type: "POST",
   url: "/runBrain",
   data: {},
   contentType: "application/json",
   dataType: 'json',
   success: function(result) {
     console.log(result);
   }
 });


}

/*Search and JS Folder Tree*/
$(function () {
    $('#container').jstree({
	'core' : {
		'data' : {
			'url' : function (node) {
                                return '/getdirs';
                        },
			'data' : function (node) {
				return { 'id' : node.id };
			}
		}
	},
        'plugins' : ["wholerow"]
		}).bind("dblclick.jstree", function (event) {
             var node = $(event.target).closest("li");
             var data = node.data("container");
             console.log(node);
             console.log(data);
             load();
        })
	        .bind("dehover_node.jstree", function (event,node) {

              var jq_div = $('#div_preview');
              jq_div.hide();

                })
        .bind("hover_node.jstree", function (event,node) {
             //var node = $(event.target).closest("li");
             console.log(node);
             console.log(node.node.id);
             var saveData = [{"data":node.node.id}];

                $.ajax({
                  type: "POST",
                  url: "/get_motion_data",
                  data: JSON.stringify(saveData),
                  contentType: "application/json",
                  dataType: 'json',
                  async:false,
                  success: function(result) {
                    console.log(result);
                    front_right_preview = result[0];
                    front_left_preview = result[1];
                    back_right_preview = result[2];
                    back_left_preview = result[3];
                  }
                });

                 console.log(mouse_x);
                 console.log(mouse_y);

              var jq_div = $('#div_preview');
              jq_div.css({'position':'absolute',border:'solid 1px #fc0;', 'z-index': 100, 'display':'block','top':mouse_y-400,'left':mouse_x+50}).show();


               var ctx = document.getElementById("canvas_preview").getContext("2d");
               canvas_preview = document.getElementById("canvas_preview");

               // Draw a line chart with two data sets

                       var previewDatasetValues =  {
                               data: {
                                   labels: x_data,
                                   datasets: [
                                       {
                                           data: front_right_preview,
                                           label: "Front Right",
                                           borderColor: "#3e95cd",
                                           fill: false
                                       },
                                       {
                                           data: front_left_preview,
                                           label: "Front Left",
                                           borderColor: "#cd953e",
                                           fill: false
                                       },
                                       {
                                           data: back_right_preview,
                                           label: "Back Right",
                                           borderColor: "#ffff00",
                                           fill: false
                                       },
                                       {
                                           data: back_left_preview,
                                           label: "Back Left",
                                           borderColor: "#0000ff",
                                           fill: false
                                       }
                                   ]
                               }};


                        window.preview_canvas_chart = Chart.Line(ctx, {
                            data: previewDatasetValues.data,
                            options: {
                                animation: {
                                    duration: 0
                                },
                          scales: {
                             xAxes: [{
                                ticks: {
                                   userCallback: function(item, index) {
                                      if (!(index % 5)) return item;
                                   },
                                   autoSkip: false
                                }
                             }],
                             yAxes: [{
                                ticks: {
                                   beginAtZero: true
                                }
                             }]
                          }
                           }
                        });

                        window.preview_canvas_chart.update();
                })


});



/*Search and JS Folder Tree*/
$(function () {
    $('#jstree2').jstree({
        'core' : {
                'data' : {
                        'url' : function (node) {
                                return '/getdirs';
                        },
                        'data' : function (node) {
                                return { 'id' : node.id };
                        }
                }
	},
	'plugins' : ["wholerow"]
		}).bind("dblclick.jstree", function (event) {
             var node = $(event.target).closest("li");
             var data = node.data("jstree2");
             console.log(node);
             console.log(data);
             gripper();
        })
	        .bind("dehover_node.jstree", function (event,node) {

              var jq_div = $('#div_preview');
              jq_div.hide();

                })
        .bind("hover_node.jstree", function (event,node) {
             //var node = $(event.target).closest("li");
             console.log(node);
             console.log(node.node.id);
             var saveData = [{"data":node.node.id}];

                $.ajax({
                  type: "POST",
                  url: "/get_motion_data",
                  data: JSON.stringify(saveData),
                  contentType: "application/json",
                  dataType: 'json',
                  async:false,
                  success: function(result) {
                    console.log(result);
                    front_right_preview = result[0];
                    front_left_preview = result[1];
                    back_right_preview = result[2];
                    back_left_preview = result[3];
                  }
                });

                 console.log(mouse_x);
                 console.log(mouse_y);

              var jq_div = $('#div_preview');
              jq_div.css({'position':'absolute',border:'solid 1px #fc0;', 'z-index': 100, 'display':'block','top':mouse_y-400,'left':mouse_x+50}).show();


               var ctx = document.getElementById("canvas_preview").getContext("2d");
               canvas_preview = document.getElementById("canvas_preview");

               // Draw a line chart with two data sets

                       var previewDatasetValues =  {
                               data: {
                                   labels: x_data,
                                   datasets: [
                                       {
                                           data: front_right_preview,
                                           label: "Front Right",
                                           borderColor: "#3e95cd",
                                           fill: false
                                       },
                                       {
                                           data: front_left_preview,
                                           label: "Front Left",
                                           borderColor: "#cd953e",
                                           fill: false
                                       },
                                       {
                                           data: back_right_preview,
                                           label: "Back Right",
                                           borderColor: "#ffff00",
                                           fill: false
                                       },
                                       {
                                           data: back_left_preview,
                                           label: "Back Left",
                                           borderColor: "#0000ff",
                                           fill: false
                                       }
                                   ]
                               }};


                        window.preview_canvas_chart = Chart.Line(ctx, {
                            data: previewDatasetValues.data,
                            options: {
                                animation: {
                                    duration: 0
                                },
                          scales: {
                             xAxes: [{
                                ticks: {
                                   userCallback: function(item, index) {
                                      if (!(index % 5)) return item;
                                   },
                                   autoSkip: false
                                }
                             }],
                             yAxes: [{
                                ticks: {
                                   beginAtZero: true
                                }
                             }]
                          }
                           }
                        });

                        window.preview_canvas_chart.update();
                })


});


/*Search and JS Folder Tree*/
$(function () {
    $('#combotree').jstree({
	'core' : {
		'data' : {
			'url' : function (node) {
                                return '/getcombodirs';
                        },
			'data' : function (node) {
				return { 'id' : node.id };
			}
		}
	} ,
	'contextmenu' : {
			'items' : customMenu
        },
        'plugins' : ["wholerow", "contextmenu"]
		}).bind("dblclick.jstree", function (event) {
             var node = $(event.target).closest("li");
             var data = node.data("combotree");
             console.log(node);
             console.log(data);
             combo();
        })

});




//Add right click context menu to set default direction motions
function customMenu(node) {
    var items = {
        forwardItem: { 
            label: "Set FORWARD",
            _name:node,
            action: function (node) {
	        var data = node.item._name.text;
                document.getElementById("FORWARD8").innerHTML=String(data); 

			    var saveData = [{"data":data}];
            
                $.ajax({
                  type: "POST",
                  url: "/updateForward8",
                  data: JSON.stringify(saveData),
                  contentType: "application/json",
                  dataType: 'json',
                  success: function(result) {
                    console.log(result);
                  }
                });
            
	    }
        },
        backItem: { 
            label: "Set BACK",
            _name:node,
            action: function (node) {
	        var data = node.item._name.text;
                document.getElementById("BACKWARDS8").innerHTML=String(data); 
		
			    var saveData = [{"data":data}];
            
                $.ajax({
                  type: "POST",
                  url: "/updateBackwards8",
                  data: JSON.stringify(saveData),
                  contentType: "application/json",
                  dataType: 'json',
                  success: function(result) {
                    console.log(result);
                  }
                });
            
	    }
        },
        leftItem: { 
            label: "Set LEFT",
            _name:node,
            action: function (node) {
	        var data = node.item._name.text;
                document.getElementById("LEFT8").innerHTML=String(data); 
	        
			    var saveData = [{"data":data}];
            
                $.ajax({
                  type: "POST",
                  url: "/updateLeft8",
                  data: JSON.stringify(saveData),
                  contentType: "application/json",
                  dataType: 'json',
                  success: function(result) {
                    console.log(result);
                  }
                });
            
	    }
        },
        rightItem: { 
            label: "Set RIGHT",
            _name:node,
            action: function (node) {
	        var data = node.item._name.text;
                document.getElementById("RIGHT8").innerHTML=String(data); 
		
			    var saveData = [{"data":data}];
            
                $.ajax({
                  type: "POST",
                  url: "/updateRight8",
                  data: JSON.stringify(saveData),
                  contentType: "application/json",
                  dataType: 'json',
                  success: function(result) {
                    console.log(result);
                  }
                });
            
	    }
        }

	
    };


    return items;
}


</script>       



   
  </body>

</html>
