[Unit]
Description=Hello World
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/ggrkmpeditor3/kmp8servo.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
